.clearfix::after {
  display: block;
  clear: both;
  content: ""; }

.global-radius {
  border-radius: 15px; }

.left-radius, .munu .munuLeft {
  border-radius: 15px 0 0 15px; }

.right-radius, .munu .munuRight .banner img {
  border-radius: 0 15px 15px 0; }

body {
  min-width: 300px;
  width: 100%; }

.nav {
  position: fixed;
  top: 0;
  display: inline-block;
  min-width: 300px;
  height: 72px;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(7, 17, 27, 0.06); }
  .nav .navLeft {
    float: left; }
    .nav .navLeft .logoPic {
      float: left; }
      .nav .navLeft .logoPic img {
        height: 72px; }
    .nav .navLeft .navbar {
      float: left; }
    .nav .navLeft li {
      list-style-type: none;
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px;
      font-size: 16px;
      line-height: 72px;
      text-align: center; }
  .nav .navRight {
    float: right; }
    .nav .navRight li {
      margin-top: 18px;
      height: 36px;
      list-style-type: none;
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 16px;
      line-height: 36px;
      text-align: center; }
      .nav .navRight li a {
        padding: 0 18px; }
    .nav .navRight #shoping {
      border: #2b333b 1px solid;
      border-radius: 18px; }
  .nav .navbarListOne {
    margin-left: -30px; }

.content, .footer {
  width: 100%;
  min-width: 300px;
  max-width: 1152px;
  margin: 0 auto; }

.content {
  margin-top: 112px; }

.munu {
  display: inline-block;
  height: 382px;
  margin-bottom: 44px; }
  .munu .munuLeft {
    height: 382px;
    background-color: #2b333b;
    width: 18.75%;
    max-width: 216px;
    float: left; }
    .munu .munuLeft .muluLeftList {
      padding-top: 16px; }
      .munu .munuLeft .muluLeftList li {
        padding-left: 16px;
        padding-right: 16px;
        line-height: 50px;
        text-align: left;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.6); }
        .munu .munuLeft .muluLeftList li i {
          line-height: 50px;
          float: right; }
  .munu .munuRight {
    max-width: 936px;
    width: 81.25%;
    height: 382px;
    float: right; }
    .munu .munuRight .banner img {
      max-width: 936px; }

.nav, .ListcontentZero, .ListcontentOne, .ListcontentTwo, .ListcontentThree, .ListcontentFour, .ListcontentFive {
  margin-bottom: 44px; }

.ListcontentTwo {
  box-shadow: 0 2px 4px 0 rgba(7, 17, 27, 0.06); }

.ListHeader {
  margin-bottom: 24px; }
  .ListHeader h3 {
    height: 32px; }
    .ListHeader h3 span {
      line-height: 32px;
      font-size: 24px;
      float: left; }
    .ListHeader h3 p {
      float: right;
      line-height: 32px; }
    .ListHeader h3 .intro {
      margin-left: 12px;
      font-weight: normal;
      font-size: 14px; }

.footer li {
  list-style-type: none;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  line-height: 72px;
  text-align: center;
  color: #2b333b; }

/*# sourceMappingURL=index.css.map */
