.clearfix::after {
  display: block;
  clear: both;
  content: ""; }

.d-n {
  display: none; }

.d-b {
  display: block; }

.global-radius, .ListcontentZero img, .ListcontentOne img, .ListcontentTwo img, .ListcontentThree img, .ListcontentFour img, .ListcontentFive img, .ListcontentZero .LiFive {
  border-radius: 15px; }

.left-radius, .munu .munuLeft {
  border-radius: 15px 0 0 15px; }

.right-radius, .munu .munuRight .banner img {
  border-radius: 0 15px 15px 0; }

body {
  position: relative;
  min-width: 1152px; }

.down {
  position: fixed;
  top: 72px;
  right: 350px;
  width: 304px;
  height: 200px;
  background-color: whitesmoke;
  box-shadow: 0px 5px 5px 5px #88888833;
  border-radius: 0px 0px 5px 5px; }
  .down h3 {
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 20px; }
  .down .downBootom {
    margin: 0px 30px;
    padding-bottom: 20px; }
    .down .downBootom img {
      float: left;
      width: 108px;
      height: 108px; }
    .down .downBootom .downApp {
      float: left;
      margin-left: 10px; }
      .down .downBootom .downApp a {
        display: block;
        line-height: 35px;
        background-color: #2b333b;
        font-size: 14px;
        color: white;
        text-align: center;
        margin-bottom: 10px;
        border-radius: 18px;
        padding-right: 5px; }
        .down .downBootom .downApp a i {
          margin-left: 5px;
          line-height: 35px;
          margin-right: 10px; }

.cart {
  position: fixed;
  top: 72px;
  right: 180px;
  width: 344px;
  background-color: whitesmoke;
  box-shadow: 0px 5px 5px 5px #88888833;
  border-radius: 0px 0px 5px 5px; }
  .cart .cartTop {
    padding: 0px 20px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px; }
    .cart .cartTop h3 {
      float: left;
      font-size: 16px;
      font-weight: bold; }
    .cart .cartTop span {
      float: right;
      color: #9199A1; }
  .cart .cartCenter {
    margin: 0px 20px;
    padding: 20px 0;
    border-top: 1px solid #9199A1;
    border-bottom: 1px solid #9199A1;
    text-align: center;
    margin-bottom: 10px; }
    .cart .cartCenter i {
      margin-bottom: 10px; }
    .cart .cartCenter li {
      margin-bottom: 20px;
      color: #9199A1; }
      .cart .cartCenter li a {
        color: #cd02009c; }
      .cart .cartCenter li a:hover {
        color: #cd0200; }
  .cart .cartBottom {
    height: 40px;
    line-height: 40px;
    margin: 0 20px 10px 20px; }
    .cart .cartBottom a {
      display: block; }
    .cart .cartBottom .cartOrderCenter {
      float: left;
      color: #9199A1; }
    .cart .cartBottom .goShopping {
      float: right;
      padding: 0px 25px;
      background-color: #cd02009c;
      border-radius: 20px;
      color: white; }
    .cart .cartBottom .goShopping:hover {
      background-color: #cd0200;
      color: white; }

.rightList {
  position: fixed;
  top: 50%;
  right: 20px;
  width: 75px;
  background-color: whitesmoke; }
  .rightList .qrcode {
    position: fixed;
    top: 62%;
    right: 95px;
    width: 180px;
    height: 222px;
    box-shadow: 0px 4px 12px 0px rgba(7, 17, 27, 0.1); }
  .rightList .qrcode-wechat {
    background: url("../img/elevator.png") no-repeat center 0px; }
  .rightList .qrcode-app {
    background: url("../img/elevator.png") no-repeat center -222px; }
  .rightList ul {
    margin: 10px; }
    .rightList ul li {
      padding: 15px;
      border-top: 1px solid #9199a147;
      text-align: center;
      color: #9199a160; }
    .rightList ul .one {
      border-top: none; }

.bottom-AD {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 136px;
  width: 100%;
  background-image: url(../img/newcomer.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .bottom-AD i {
    position: absolute;
    right: 50px;
    top: 75px;
    width: 50px;
    height: 50px; }

.nav {
  position: fixed;
  top: 0;
  display: inline-block;
  min-width: 1152px;
  height: 72px;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(7, 17, 27, 0.06);
  z-index: 9999; }
  .nav .navLeft {
    float: left; }
    .nav .navLeft .logoPic {
      float: left; }
      .nav .navLeft .logoPic img {
        height: 72px; }
    .nav .navLeft .navbar {
      float: left; }
    .nav .navLeft li {
      list-style-type: none;
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px;
      font-size: 16px;
      line-height: 72px;
      text-align: center; }
    .nav .navLeft .searchIput {
      height: 40px;
      width: 200px;
      padding-left: 10px;
      background-color: #494c5224;
      border-radius: 10px;
      border: none;
      outline: none; }
    .nav .navLeft .fa-search {
      position: absolute;
      right: 15px;
      top: 28px;
      color: #2d374b80; }
    .nav .navLeft .searchLl {
      position: absolute;
      right: 35px;
      top: 0px; }
      .nav .navLeft .searchLl button {
        border: none;
        background-color: #ff000000;
        outline: none; }
  .nav .navRight {
    float: right; }
    .nav .navRight li {
      margin-top: 18px;
      height: 36px;
      list-style-type: none;
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px;
      font-size: 16px;
      line-height: 36px;
      text-align: center; }
      .nav .navRight li a {
        padding: 0 18px; }
    .nav .navRight #shoping {
      border: #2b333b 1px solid;
      border-radius: 18px; }
  .nav .navbarListOne {
    margin-left: -30px; }

.content, .footer {
  width: 100%;
  min-width: 300px;
  max-width: 1152px;
  margin: 0 auto; }

.content {
  margin-top: 112px; }

.bannerList {
  position: relative; }
  .bannerList .click {
    color: white; }
    .bannerList .click .left, .bannerList .click .right {
      height: 50px;
      width: 50px;
      background-color: #9199a16e;
      text-align: center;
      border-radius: 25px; }
    .bannerList .click .left:hover, .bannerList .click .right:hover {
      background-color: #9199A1; }
    .bannerList .click .left {
      position: absolute;
      top: 166px;
      left: 5px; }
    .bannerList .click .right {
      position: absolute;
      top: 166px;
      right: 5px; }
    .bannerList .click i {
      line-height: 50px; }
  .bannerList .banner-anchor {
    position: absolute;
    top: 350px;
    right: 25px; }
    .bannerList .banner-anchor span {
      background-color: rgba(255, 255, 255, 0.75);
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      margin-left: 10px; }
    .bannerList .banner-anchor .active {
      width: 20px; }

.munu {
  height: 382px;
  margin-bottom: 44px; }
  .munu .munuLeft {
    height: 382px;
    background-color: #2b333b;
    width: 18.75%;
    max-width: 216px;
    float: left; }
    .munu .munuLeft .muluLeftList {
      padding-top: 16px;
      z-index: 2; }
      .munu .munuLeft .muluLeftList li {
        padding-left: 16px;
        padding-right: 26px;
        margin-right: -10px;
        line-height: 50px;
        text-align: left;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.6); }
        .munu .munuLeft .muluLeftList li i {
          line-height: 50px;
          float: right; }
  .munu .munuRight {
    position: relative;
    max-width: 936px;
    width: 81.25%;
    height: 382px;
    float: right; }
    .munu .munuRight .banner img {
      max-width: 936px; }

.bannerLeftlist {
  position: absolute;
  top: 0px;
  left: 0px;
  max-width: 936px;
  width: 90%;
  height: 382px;
  z-index: 0;
  background-color: white; }
  .bannerLeftlist .bannerContent {
    position: relative;
    margin-top: 11px;
    padding-left: 20px;
    height: 372px; }
    .bannerLeftlist .bannerContent .samllTittle {
      margin-top: 10px; }
      .bannerLeftlist .bannerContent .samllTittle h1 {
        line-height: 35px;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px; }
      .bannerLeftlist .bannerContent .samllTittle ul {
        margin-left: -25px;
        font-size: 16px;
        margin-right: 40px; }
        .bannerLeftlist .bannerContent .samllTittle ul li {
          margin-bottom: 20px;
          display: block;
          margin-left: 25px;
          float: left; }
    .bannerLeftlist .bannerContent .smallContent {
      position: absolute;
      width: 100%;
      bottom: 0px;
      margin-left: -20px;
      padding-left: 20px;
      padding-top: 20px;
      margin-bottom: 0px;
      margin-bottom: 0px;
      background-color: #f1eaea30; }
      .bannerLeftlist .bannerContent .smallContent .smallContentList {
        width: 312px;
        margin-right: 48px;
        margin-bottom: 27px;
        float: left; }
        .bannerLeftlist .bannerContent .smallContent .smallContentList .smallImg {
          width: 70px;
          height: 52px;
          float: left;
          border-radius: 5px; }
        .bannerLeftlist .bannerContent .smallContent .smallContentList .scll {
          float: left;
          margin-left: 15px;
          line-height: 26px; }
          .bannerLeftlist .bannerContent .smallContent .smallContentList .scll .smallSpan {
            margin-left: -15px;
            font-size: 14px; }
            .bannerLeftlist .bannerContent .smallContent .smallContentList .scll .smallSpan span {
              margin-left: 15px; }
              .bannerLeftlist .bannerContent .smallContent .smallContentList .scll .smallSpan span .fa {
                margin-right: 3px; }

.ListcontentZero, .ListcontentOne, .ListcontentTwo, .ListcontentThree, .ListcontentFour, .ListcontentFive {
  margin-bottom: 44px; }

.ListHeader {
  margin-bottom: 24px; }
  .ListHeader h3 {
    height: 32px; }
    .ListHeader h3 span {
      line-height: 32px;
      font-size: 24px;
      float: left; }
    .ListHeader h3 .spanActive {
      border-bottom: #cd0200 2px solid; }
    .ListHeader h3 p {
      float: right;
      line-height: 32px; }
      .ListHeader h3 p i {
        padding-left: 5px; }
    .ListHeader h3 .intro {
      margin-left: 12px;
      font-weight: normal;
      font-size: 14px; }

.LiTwo {
  width: 564px;
  height: 148px;
  margin-left: 24px;
  margin-bottom: 24px;
  float: left; }

.LiThree {
  width: 368px;
  margin-right: 24px;
  height: 90px;
  float: left; }

.ListContent {
  margin-left: -24px; }

.LiFour {
  width: 270px;
  height: 268px;
  margin-left: 24px;
  margin-bottom: 12px;
  float: left; }

.LiFour:hover img {
  box-shadow: #2d374b30 1px 3px 10px;
  border-radius: 15px; }

.LiFive {
  width: 216px;
  height: 80px;
  margin-left: 18px;
  float: left; }

.FourContentList .topContent, .TwoContentList .topContent {
  width: 270px;
  height: 148px; }
.FourContentList img, .TwoContentList img {
  width: 100%;
  border: 0; }

.leftContent, .rightContent {
  float: left; }

.bottomContent i {
  margin-right: 5px; }
.bottomContent h3 {
  padding-top: 10px;
  text-align: left;
  font-size: 16px; }
.bottomContent .centerList {
  padding-top: 20px; }
  .bottomContent .centerList .two {
    padding-left: 15px; }
  .bottomContent .centerList .three {
    padding-right: 20px;
    float: right; }
.bottomContent .bottomList {
  padding-top: 10px;
  color: #cd0200;
  font-weight: bold; }
  .bottomContent .bottomList .one {
    font-size: 15px; }
  .bottomContent .bottomList i {
    margin-right: 5px; }
  .bottomContent .bottomList .two {
    height: 25px;
    line-height: 25px;
    margin-left: 15px;
    background-color: #cd02001f; }

.ListcontentZero .LiFive {
  background-color: #9fa3a742; }
.ListcontentZero .LiFive:hover {
  box-shadow: #2d374b30 1px 2px 10px;
  border-radius: 15px; }
.ListcontentZero .LiFiveStart {
  margin-left: 0px; }
.ListcontentZero .LiFiveEnd {
  margin-right: 0px; }
.ListcontentZero a {
  display: inline-block;
  height: 50px;
  margin-top: 15px;
  width: 216px;
  line-height: 80px; }
.ListcontentZero i {
  float: left;
  width: 50px;
  height: 50px;
  background: url(../img/path_2019_9.png) no-repeat;
  background-size: 100%;
  margin-left: 12px;
  margin-right: 10px; }
.ListcontentZero .html5 {
  background-position: center 0; }
.ListcontentZero .java {
  background-position: center -50px; }
.ListcontentZero .python {
  background-position: center -100px; }
.ListcontentZero .android {
  background-position: center -150px; }
.ListcontentZero .php {
  background-position: center -200px; }
.ListcontentZero p {
  line-height: 30px;
  font-size: 16px;
  font-weight: bold; }
.ListcontentZero .p {
  line-height: 20px;
  font-weight: normal;
  font-size: 12px; }

.ListcontentOne .LiThree {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
.ListcontentOne .LiThreeEnd {
  margin-right: 0px; }
.ListcontentOne a {
  height: 90px;
  width: 368px; }

.ListcontentTwo {
  box-shadow: 0 2px 4px 0 rgba(7, 17, 27, 0.06); }

.ListcontentThree .LiTwo:hover img {
  box-shadow: #2d374b30 2px 3px 10px;
  border-radius: 15px; }
.ListcontentThree .rightContent {
  width: 400px;
  padding-left: 14px; }
  .ListcontentThree .rightContent h3 {
    font-size: 18px; }
  .ListcontentThree .rightContent p {
    font-size: 14px;
    line-height: 30px;
    padding-top: 10px; }
  .ListcontentThree .rightContent .centerList {
    padding-top: 20px;
    font-size: 14px;
    color: #414346b5; }
    .ListcontentThree .rightContent .centerList .two {
      padding-left: 15px; }
    .ListcontentThree .rightContent .centerList .three {
      padding-left: 45px; }
      .ListcontentThree .rightContent .centerList .three i {
        padding-right: 10px; }

.ListcontentFive .LiThree {
  width: 324px;
  height: 149px;
  margin-left: 24px;
  margin-bottom: 24px;
  margin-right: 0px;
  padding: 18px; }
.ListcontentFive .LiThree:hover {
  box-shadow: #2d374b30 1px 2px 10px;
  border-radius: 15px; }
.ListcontentFive .leftContent {
  width: 104px;
  float: left; }
  .ListcontentFive .leftContent span {
    line-height: 35px;
    padding-left: 5px;
    padding-top: 35px;
    color: blue; }
.ListcontentFive .rightContent {
  width: 220px;
  float: right; }
  .ListcontentFive .rightContent h3 {
    height: 44px; }
  .ListcontentFive .rightContent .topList {
    color: #9199A1;
    border-bottom: solid #9199a129 1px;
    padding-bottom: 10px; }
    .ListcontentFive .rightContent .topList .two {
      margin-left: 15px; }
  .ListcontentFive .rightContent .centerList {
    margin-top: 5px;
    line-height: 30px;
    font-size: 13px; }
  .ListcontentFive .rightContent .bottomList {
    margin-top: 15px;
    line-height: 30px;
    font-size: 14px; }
    .ListcontentFive .rightContent .bottomList .one {
      color: #3377FF;
      font-size: 16px;
      font-weight: bold; }
    .ListcontentFive .rightContent .bottomList .two {
      margin-left: 10px;
      text-decoration: line-through; }
    .ListcontentFive .rightContent .bottomList .three {
      margin-left: 10px;
      color: white;
      background-image: linear-gradient(90deg, #3377ff 0, #74ccff 99%); }
.ListcontentFive img {
  width: 100%;
  height: 118px;
  border: 0; }

.footer .moco-emoji {
  width: 16px;
  height: 16px;
  display: inline !important;
  margin: 0 !important; }
.footer .fa-beian {
  background: url(../img/beianicon.png) no-repeat 0 0;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-size: cover;
  display: inline-block;
  margin-right: 4px;
  margin-top: -4px; }
.footer li {
  list-style-type: none;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  line-height: 72px;
  text-align: center;
  color: #2b333b; }
.footer p {
  line-height: 20px; }
.footer .leftFooter {
  float: left;
  width: 70%; }
.footer .rightFooter {
  float: left;
  width: 30%; }
  .footer .rightFooter .wechat, .footer .rightFooter .weibo {
    float: left;
    text-align: center;
    margin: 30px 30px 30px 30px; }
  .footer .rightFooter .wechat {
    margin-left: 70px; }
  .footer .rightFooter .footer-wechat {
    display: inline-block;
    height: 32px;
    width: 32px;
    background-color: #cd0200;
    background: url(../img/idx_btm.png) -52px -221px no-repeat; }
  .footer .rightFooter .footer-weibo {
    display: inline-block;
    height: 32px;
    width: 32px;
    background-color: #cd0200;
    background: url(../img/idx_btm.png) 0px -221px no-repeat; }
  .footer .rightFooter .footerQrcode {
    position: absolute;
    top: -230px;
    right: -55px;
    width: 180px;
    height: 222px;
    background: url("../img/elevator.png") no-repeat center 0px; }

/*# sourceMappingURL=index.css.map */
